body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background: var(--color-v);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--color-w);
}

.app__bg {
  background: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}
